@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    @apply bg-fuchsia-950 text-white;
}

html, body, #app {
    height: 100%;
}

#app {
    @apply flex flex-col justify-center;
    @apply sm:grid place-content-center sm:gap-8 sm:p-8;
    @apply bg-gray-50 sm:bg-gradient-to-r from-pink-800 to-purple-800 text-fuchsia-950;
    @media screen(sm) {
        background-image: linear-gradient(in oklch to right, var(--tw-gradient-stops));
    }
}

#app > .auth-box {
    @apply w-full p-4 sm:w-[480px] sm:p-12 sm:rounded-lg sm:filter sm:drop-shadow-2xl bg-gray-50 min-h-0;
}

label.disabled {
    
}

label.required::after {
    content: ' *';
    @apply text-orange-700;
}

input[type=checkbox] {
    @apply appearance-none mr-2 border border-gray-400 rounded-sm w-4 h-4 relative;
    @apply focus:outline outline-2 outline-fuchsia-700;
}

input[type=checkbox]:disabled {
    @apply border-gray-200;
}

input[type=checkbox]:checked::after {
    content: '';
    width: 0.5rem;
    height: 1.1rem;
    transform: rotate(45deg);
    top: -0.3rem;
    left: 0.3rem;
    @apply absolute block border-r-4 border-b-4 border-fuchsia-900;
}

input[type=checkbox]:checked:disabled::after {
    @apply border-gray-400;
}